@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
    *{
        margin: 0;
        padding: 0;
    }
   nav h1{
        text-align: center;
        font-size: 35px;
        
  font-family: 'Lato', sans-serif;

    }
    nav{
        background: rgba(243, 239, 239, 0.22); 
        height: 55px;
        padding-top: 3px;

    }
    .container {

height: 100%;
background-position: center;
background-size: cover;
padding-left: 5%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 20px;


    }
      .blank {
width: 410px;
height: 300px;
background-color: #09050c08;
display: inline-block;
margin-left: 32px;
margin-top: 31px;
align-items: center;
}
.pic {
width: 382px;
height: 233px;
margin: 14px;
transition: transform 0.5s;
}
.pic:hover{
transform: translateY(-10px);
}
.heading {
width: 290px;
height: 21px;

margin: 13px;
font-size: 13px;
font-family: 'Heebo', sans-serif;
}
.pic1{
background-image: url(/images/swiming.jpg);
background-size: cover;
}
.pic2{
background-image: url(/images/weightlifting.png);
background-size: cover;
}

.pic3{
background-image: url(/images/Triathlon.jfif);
background-size: cover;
}

.pic4{
background-image: url(/images/Table\ Tennis.jpg);
background-size: cover;
}

.pic5{
background-image: url(/images/Squash.webp);
background-size: cover;
}

.pic6{
background-image: url(/images/Shooting.jpg);
background-size: cover;
}

.pic7{
background-image: url(/images/Rugby\ Sevens.jpg);
background-size: cover;
}

.pic8{
background-image: url(/images/Netball.jpg);
background-size: cover;
}

.pic9{
background-image: url(/images/Lawn\ Bowls.jpg);
background-size: cover;
}

.pic10{
background-image: url(/images/hockey.png);
background-size: cover;
}

.pic11{
background-image: url(/images/Gymnastics.jpg);
background-size: cover;
}

.pic12{
background-image: url(/images/Golf.jpg);
background-size: cover;
}

.pic13{
background-image: url(/images/Cycling.jpg);
background-size: cover;
}

.pic14{
background-image: url(/images/Cricket\ T20\ .jpg);
background-size: cover;
}

.pic15{
background-image: url(/images/Coastal\ Rowing.jpg);
background-size: cover;
}

.pic16{
background-image: url(/images/beach\ vollyball.png);
background-size: cover;
}

.pic17{
background-image: url(/images/boxing.jpg);
background-size: cover;
}

.pic18{
background-image: url(/images/basketball.jpg);
background-size: cover;
}
.pic19{
background-image: url(/images/Badminton.jpg);
background-size: cover;
}
.pic20{
background-image: url(/images/Athletics.jpg);
background-size: cover;
}
.pic21{
background-image: url(/images/mountain\ bycycling.png);
background-size: cover;
}


footer{
height:12vh;
background-color:rgba(0,0,0,0.9);
color:rgb(250, 250, 251);
font-family: 'Source Sans Pro', sans-serif;
}
.flex-all-center{
display: flex;
justify-content: center;
align-items: center;
}
.many{
text-align: right;
padding: 23px;
background-color: #eae3ef5b;
margin: 12px;
}
.more{
font-family: 'Lato', sans-serif;

}
